<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb | Holidays | rentels, cabins, beach house & more</title>
</head>
<body>
    <!-- CREATE A NEW LISTING  -->
    <h1>create new listing</h1>
    <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form>

    <!-- SHOW CASE ALL THE LISTING PREPERTY FROM DATABASE  -->
    <h1>All listings</h1>
    <ul>
       <% for(let listing of listings){ %>
        <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
       <%}%>
    </ul>
</body>
</html>